<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DataContext2"
         connectionString="Server=2f95c87c-f68b-4df1-bd62-a36700e88591.sqlserver.sequelizer.com;Database=db2f95c87cf68b4df1bd62a36700e88591;User ID=kkhjvbtllwqybdqq;Password=aaVND5ZgD72rfAoaLPLP2UrBFFLWJZQossGHZqqBFmZ3jCv8MMtwD8UoRsh6rcDM;"
         pr
         />
  </connectionStrings>
</configuration>